@import "tailwindcss";

@theme {
  /* paleta de cores */
  
  --teiu-primary-dark: #11215f;
  --teiu-secundary-light: #00CDF7; 
  --teiu-deep-blue: #003B76;
  --teiu-blue-medium: #005009;
  --teiu-gray: #F5F5F5;

}